{{include(header)/}}
<main role="main" class="flex-shrink-0 mt-5 pt-3">
    <div class="container-fluid">
        <h1 class="">Repositories:</h1>
        <a class="btn btn-outline-primary" href="/app?refresh">Refresh</a>
        <table class="table main-view">
            <thead>
                <tr>
                    <th colspan="3">General</th>
                    <th colspan="{{repositories[0].badgeCategories.length}}">Badges</th>
                </tr>
                <tr>
                    <th class="name-desc">Name</th>
                    <th class="lang">Language</th>
                    <th style="width: 10%">Readme</th>
                    {{each(options.repositories[0].badgeCategories)}}
                    <th>{{@this.name}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{each(options.repositories)}}
                <tr>
                    <td>
                        {{if(@this.fork)}}
                            <i class="fas fa-code-branch mr-2 text-secondary"></i>
                        {{/if}}
                            <p class="d-block">{{@this.name}}</p>
                        {{if(@this.description != "")}}
                            <small class="d-block text-secondary">({{@this.description}})</small>
                        {{/if}}
                    </td>
                    <td>
                        {{if(@this.language == "")}}
                            <span class="text-danger">n/a</span>
                        {{#else}}
                            {{@this.language}}
                        {{/if}}
                    </td>
                    <td>
                        {{if(@this.readmeAvailable)}}
                            <a href="https://github.com/{{user.login}}/{{@this.name}}#readme" target="_blank">View Readme</a>
                        {{#else}}
                            <span class="text-danger">Not available</span>
                        {{/if}}
                    </td>
                    {{each(@this.badgeCategories)}}
                        <td>
                            {{each(@this.badges)}}
                                {{if(@this.href)}}
                                    <a href="{{@this.href}}"><img alt="{{@this.alt}}" src="{{@this.src}}"></a>
                                {{#else}}
                                    <img alt="{{@this.alt}}" src="{{@this.src}}">
                                {{/if}}
                            {{/each}}
                        </td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>
{{include(footer)/}}